<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIZE</title>
    <link  rel="stylesheet" href="eProject.css">
</head>
<body>
    <div ng-controller="prizeCtrl"><br>
      <nav id="topic">
        <a href="#!Chem">Chemistry</a>
        <a href="#!Phy">Physic</a>
        <a href="#!Medi">Medicine</a>
        <a href="#!Lit">Literature</a>
        <a href="#!Pea">Peace</a>
  </nav><br>
      <table>
        <tr >
           <th>Chemistry</th>
        </tr>
        <tr >
            <td ng-repeat="c in Chemis">
                <img ng-src="{{c.IMG}}" width="150px" height="170px"><br>
                {{c.Name}}
                {{c.Year}}
            </td>
        </tr>
        <tr >
            <th>Physic</th>
         </tr>
        <tr  >
            <td ng-repeat="p in Phys">
                <img ng-src="{{p.IMG}}" width="150px" height="170px"><br>
                {{p.Name}}
                {{p.Year}}
            </td>
        </tr>
        
        <tr>
            <th>Medicine</th>
        </tr>
        <tr  >
            <td ng-repeat="m in Medic">
                <img ng-src="{{m.IMG}}" width="150px" height="170px"><br>
                {{m.Name}}
                {{m.Year}}
            </td>
        </tr>
        <tr>
            <th>Literature</th>
        </tr>
        <tr  >
            <td ng-repeat="l in Liter">
                <img ng-src="{{l.IMG}}" width="150px" height="170px"><br>
                {{l.Name}}
                {{l.Year}}
            </td>
        </tr>
        <tr>
            <th>Peace</th>
        </tr>
        <tr >
            <td ng-repeat="p in Peace">
                <img ng-src="{{p.IMG}}" width="150px" height="170px"><br>
                {{p.Name}}
                {{p.Year}}
            </td>
        </tr>
       </table>
    </div>
</body>
</html>